<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sending Email with Thymeleaf HTML Template Example</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <!-- use the font -->
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
    }
  </style>
</head>
<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
  <tr>
    <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
      <p>Dear
        <!--/*@thymesVar id="recipientName" type="java"*/-->
        <span th:text="${recipientName}"></span>, pay attention!</p>
      <p>There is a new <b>Generic Notification</b> for you from <b>JPEOPLE !!!</b></p>
      <p>Thanks for your attention.</p>
    </td>
  </tr>
  <tr>
    <td bgcolor="#78ab46" style="padding: 30px 30px 30px 30px;">
      <!--/*@thymesVar id="notification_object" type="java"*/-->
      <p><b>Oggetto:</b> <i th:text="${notification_object}"></i></p>
      <!--/*@thymesVar id="notification_message" type="java"*/-->
      <p><span th:text="${notification_message}"></span></p>
      <p>click <a href="http://localhost:4200">here</a> to access your personal area</p>
    </td>
  </tr>
  <tr>
    <td align="center" bgcolor="#777777" style="padding: 40px 0 30px 0;">
      <!--/*@thymesVar id="logo" type="java"*/-->
      <img th:src="|cid:${logo}|" />
      <!--/*@thymesVar id="location" type="java"*/-->
      <p><span th:text="${location}"></span></p>
    </td>
  </tr>
</table>

</body>
</html>
